skills/dify-workflow/references/templates/chatbot.yml
# Chatbot Template: Start -> LLM -> Answer
# A simple chatflow that takes user input, sends it to an LLM, and streams the response.
#
# Mode: advanced-chat (Chatflow)
# Flow: Start -> LLM -> Answer

version: "0.6.0"
kind: app
app:
  # CUSTOMIZE: Change the app name and description
  name: "Chatbot"
  mode: advanced-chat
  icon: "\U0001F916"
  icon_background: "#FFEAD5"
  icon_type: emoji
  description: "A simple chatbot powered by an LLM."
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    file_upload:
      enabled: false
    # CUSTOMIZE: Set an opening message for the chat
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - id: a1b2c3d4-source-e5f6a7b8-target
        source: "a1b2c3d4-1a2b-4c3d-8e4f-5a6b7c8d9e0f"
        sourceHandle: source
        target: "e5f6a7b8-2b3c-4d4e-9f5a-6b7c8d9e0f1a"
        targetHandle: target
        type: custom
        data:
          sourceType: start
          targetType: llm
          isInIteration: false
          isInLoop: false
        zIndex: 0
      - id: e5f6a7b8-source-c9d0e1f2-target
        source: "e5f6a7b8-2b3c-4d4e-9f5a-6b7c8d9e0f1a"
        sourceHandle: source
        target: "c9d0e1f2-3c4d-4e5f-a061-7c8d9e0f1a2b"
        targetHandle: target
        type: custom
        data:
          sourceType: llm
          targetType: answer
          isInIteration: false
          isInLoop: false
        zIndex: 0
    nodes:
      # --- Start Node ---
      - id: "a1b2c3d4-1a2b-4c3d-8e4f-5a6b7c8d9e0f"
        type: custom
        sourcePosition: right
        targetPosition: left
        position:
          x: 80
          y: 282
        data:
          type: start
          title: Start
          desc: ""
          variables: []

      # --- LLM Node ---
      - id: "e5f6a7b8-2b3c-4d4e-9f5a-6b7c8d9e0f1a"
        type: custom
        sourcePosition: right
        targetPosition: left
        position:
          x: 380
          y: 282
        data:
          type: llm
          title: LLM
          desc: ""
          model:
            # CUSTOMIZE: Set your model provider and name
            provider: ""
            name: ""
            mode: chat
            completion_params:
              # CUSTOMIZE: Adjust temperature (0-2)
              temperature: 0.7
          prompt_template:
            - role: system
              # CUSTOMIZE: Write your system prompt here
              text: "You are a helpful assistant."
          variables: []
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
          memory:
            query_prompt_template: "{{#sys.query#}}"
            window:
              enabled: false
              size: 10

      # --- Answer Node ---
      - id: "c9d0e1f2-3c4d-4e5f-a061-7c8d9e0f1a2b"
        type: custom
        sourcePosition: right
        targetPosition: left
        position:
          x: 680
          y: 282
        data:
          type: answer
          title: Answer
          desc: ""
          answer: "{{#e5f6a7b8-2b3c-4d4e-9f5a-6b7c8d9e0f1a.text#}}"
          variables: []
    viewport:
      x: 0
      y: 0
      zoom: 0.7
